$thirdYellow: hsl(42.5, 100%, 50%);
$thirdDark0: hsl(42.5, 100%, 5%);
$thirdDark25: hsl(42.5, 100%, 25%);
$third-Gray-100: hsl(42.5, 10%, 100%);
$third-Gray-090: hsl(42.5, 10%, 90%);
$third-Gray-080: hsl(42.5, 10%, 80%);
$third-Gray-070: hsl(42.5, 10%, 70%);
$third-Gray-060: hsl(42.5, 10%, 60%);
$third-Gray-050: hsl(42.5, 10%, 50%);
$third-Gray-040: hsl(42.5, 10%, 40%);
$third-Gray-030: hsl(42.5, 10%, 30%);
$third-Gray-020: hsl(42.5, 10%, 20%);
$third-Gray-010: hsl(42.5, 10%, 10%);
$third-Gray-000: hsl(42.5, 10%, 0%);

$font-family-sans-serif: 'Source Sans 3', sans-serif;

$headings-font-weight: 700;

$primary: $thirdYellow;
