@import "./sourceCodePro.scss";
@import "./sourceSansPro.scss";
@import "./variables.scss";
@import "./../node_modules/bootstrap/scss/bootstrap.scss";
@import "./../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

.thirdLogoText{
  padding-left: 10px;
  display: block;
  margin: 0;

  .thirdLogoTextBrand{
    font-weight: 900;
    display: block;
    margin: 0;
    font-size: 2rem;
    line-height: 2rem;
  }

  .thirdLogoTextBase{
    font-weight: 200;
    font-size: 0.6rem;
    line-height: 0.6rem;
    display: block;
    margin: 0;
    padding-left: 0.1rem;

    .thirdLogoTextBaseHL{
      font-weight: 400;
    }
  }
}