@import "./sourceCodePro.scss";
@import "./sourceSansPro.scss";
@import "./variables.scss";
@import "./../node_modules/bootstrap/scss/bootstrap.scss";
@import "./../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "./../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "./../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "./../node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.thirdLogo {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  max-height: 100px;

  .thirdPicto {
    height: 100px;
    width: 100px;
    float: left;
  }

  .thirdLogoText {
    padding-left: 10px;
    display: block;
    float: left;
    margin: 0;

    .thirdLogoTextBrand {
      font-weight: 900;
      display: block;
      margin: 0;
      font-size: 6.5rem;
      line-height: 4.5rem;
    }

    .thirdLogoTextBase {
      padding-top: 0.2rem;
      font-weight: 200;
      font-size: 1.65rem;
      line-height: 1.65rem;
      display: block;
      margin: 0;
      padding-left: 0.4rem;

      .thirdLogoTextBaseHL {
        font-weight: 400;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .thirdLogo {
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
    max-height: 65px;

    .thirdPicto {
      height: 65px;
      width: 65px;
      float: left;
    }

    .thirdLogoText {
      padding-left: 10px;
      display: block;
      float: left;
      margin: 0;

      .thirdLogoTextBrand {
        font-weight: 900;
        display: block;
        margin: 0;
        font-size: 6.5rem * 0.65;
        line-height: 4.5rem * 0.65;
      }

      .thirdLogoTextBase {
        padding-top: 0.2rem * 0.65;
        font-weight: 200;
        font-size: 1.65rem * 0.65;
        line-height: 1.65rem * 0.65;
        display: block;
        margin: 0;
        padding-left: 0.4rem * 0.65;

        .thirdLogoTextBaseHL {
          font-weight: 400;
        }
      }
    }
  }
}

$thirdFooterStep: $grid-gutter-width * 1.5;
$thirdFooterStepSm: $grid-gutter-width * 0.85;

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;

  .thirdFooterCol {
    overflow: hidden;
    z-index: 200;

    .thirdFooterCell {
      height: $thirdFooterStep;
      line-height: $thirdFooterStep;
      padding: 0;
      margin: $thirdFooterStep/4 $grid-gutter-width;
      color: $light;
      position: relative;
      z-index: 300;

      div.thirdFooterText {
        display: block flow;
        z-index: 500;
        opacity: 1;
        background-color: $dark;
      }

      .thirdFooterLine {
        position: absolute;
        z-index: 400;
        margin: 0;
        padding: 0;
        height: 0.05rem;
        border-radius: 0.025rem;
        background-color: mix($primary, $dark);
        width: 150%;
        opacity: 1;
        top: ($thirdFooterStep/7 * 4) - 0.025rem;
        left: -15%;
      }

      a {
        text-decoration: none;
        color: $light;
        margin: 0;
        padding: 0;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;

    .thirdFooterCol {
      overflow: hidden;
      z-index: 200;
      .thirdFooterCell {
        height: $thirdFooterStepSm;
        line-height: $thirdFooterStepSm;
        padding: 0;
        font-size: $font-size-sm * 0.85;
        margin: $thirdFooterStepSm/4 $grid-gutter-width;
        color: $light;
        position: relative;
        z-index: 300;

        div.thirdFooterText {
          display: block flow;
          z-index: 500;
          opacity: 1;
          background-color: $dark;
        }

        .thirdFooterLine {
          position: absolute;
          z-index: 400;
          margin: 0;
          padding: 0;
          height: 0.05rem;
          border-radius: 0.025rem;
          background-color: mix($primary, $dark);
          width: 150%;
          opacity: 1;
          top: ($thirdFooterStepSm/7 * 4) - 0.025rem;
          left: -15%;
        }

        a {
          text-decoration: none;
          color: $light;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
